spring:
    datasource:
      driverClassName: org.h2.Driver
      url: jdbc:h2:mem:test
      username: sa
      password: sa
    h2:
      console:
        enabled: true
    servlet:
     multipart:
      enabled: 'true'
      max-file-size: 200MB
    jpa:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        ddl-auto: update

server:
  servlet:
    context-path:
  port: 8080
  
management:
     endpoints:
        web: 
         exposure:
           include: '*'
         base-path: '/manage'
    